<div style="text-align:center;">
    <img src="../assets/icons/logo.png" width="200" alt="stock_checker_logo">
</div>
<div *ngIf="isInit">
    <span>Delay: </span>
    <button #minusButton id="minus_button">-</button>
    <strong>{{ refreshDelay }}</strong>
    <button #plusButton id="plus_button">+</button>
    <span>sec</span>
</div>
<div *ngIf="isInit">
    <button class="check_button" (click)="checkInProduct()">STEP 1 - CHECK IN PRODUCT</button>
    <button class="check_button" (click)="checkInCart()">STEP 2 - CHECK IN CART</button>
</div>

<div *ngIf="!isInit">
    <strong>Checking {{ checkType }} every {{ refreshDelay }} sec</strong>
</div>
